@model Cinema.Models.Movie


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mua vé</h2>

<div>
    @*<h4>Movie</h4>*@
    <hr />
    <dl class="dl-horizontal">


        <dd>
            <img src="@Html.DisplayFor(model => model.ProductImageName)" alt="Alternate Text" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
          
        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDGioChieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDGioChieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieSeat)
        </dd>


    </dl>


</div>
<p>
    <button type="button" class="btn btn-warning">Mua Vé</button>

    <button type="button" class="btn btn-warning">@Html.ActionLink("Huỷ", "Index")</button>


</p>


@*<p>

        @Html.ActionLink("Trở lại trang trước", "Index")
    </p>
*@